.DS_Store
.powerline/
credentials
.secrets
yarn/node_modules/*
yarn/yarn.lock
ssh/config.d/*
tmux/tpm*
homebrew/Brewfile.lock.json
nvim/.backups/*
nvim/plugged/*
nvim/.netrwhist
nvim/autoload/plug.vim
nvim/bundle
nvim/tags
nvim/*~
nvim/*.swp
nvim/.VimballRecord
nvim/view
nvim/.netrwhist
nvim/backups
nvim/plugged
nvim/session
